{% extends 'base.html' %}
{% load static %}


{% block content %}
<section id="about-us">
  <div class="auto-container">
    <div class="row">
      <ol class="breadcrumb">
        <li class="breadcrumb-item "><a href="https://sanews.pythonanywhere.com/"><span>الصفحة الرئيسية</span></a></li>
        <li class="breadcrumb-item active"><a href="{% url 'about-us' %}"><span>عن السعودية نيوز</span></a></li>
      </ol>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="title-bg ajel">
          <!-- <span class="icon-Weather-Icons-16"></span>
          <span class="flaticon-pause-bars"></span> -->
          <img class="icon-Weather-Icons-16" src="{% static '/assets/images/tab.png' %}" alt="">

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="h3 header-title mT-5 red">من نحن</div>
            </div>
          </div>
        </div>
        <div class="about">
          <p>
            "السعودية نيوز" هي صحيفة إلكترونية، تم تأسيسها في 2007، حاصلة على ترخيص من وزارة الثقافة والإعلام السعودية، وباتت
            اليوم من أبرز المواقع المختصة بتغطية أخبار المملكة العربية السعودية المحلية والعالمية التي تمس اهتمامات
            القارئ السعودي، عبر مجموعة من المحررين والمراسلين المنتشرين في مختلف أنحاء المملكة.
          </p>
          <ul>
            <li>
              <p>نتيجة التزام المهنية، والحرص على تقديم الخدمة الإخبارية لقرائها بجودة عالية؛ باتت "السعودية نيوز" ثاني
                المواقع الإخبارية انتشارًا داخل المملكة، والثالث على مستوى دول مجلس التعاون الخليجي.</p>
            </li>
            <li>
              <p>يحرص فريق "السعودية نيوز" على التواصل المباشر مع مصادر المعلومات وصناع القرار داخل المملكة العربية السعودية،
                وهو ما ينعكس على مصداقية أخبارها وسرعة نقلها إلى القارئ السعودي.</p>
            </li>
            <li>
              <p>لدى "السعودية نيوز" فريق من المحررين والمراسلين المدربين على أعلى مستوى، والمؤهلين للتعامل مع مختلف ظروف
                العمل الميداني داخل المملكة.</p>
            </li>
            <li>
              <p>كما تمتلك "السعودية نيوز" فريقًا آخر من المراسلين والمحررين المنتشرين في مختلف بلدان الشرق الأوسط وشمال
                إفريقيا، بهدف إطلاع القارئ السعودي على كل ما يدور حوله في المنطقة.</p>
            </li>
            <li>
              <p>تلتزم "السعودية نيوز" في صناعة الأخبار بـ"دليل تحرير" مهني، يستند إلى ميثاق الشرف الصحفي، ويتمسك بالقيم
                الصحفية في نقل المعلومة، ويلتزم الموضوعية والمصداقية، بهدف تقديم خدمة إخبارية مميزة -يمكن الوثوق
                بها- إلى جميع قرائنا داخل المملكة وخارجها.</p>
            </li>
            <li>
              <p>أكثر من 80% من قراء "السعودية نيوز" لم تتجاوز أعمارهم 45 عامًا؛ ما يدل على أنها تتمتع بمكانة خاصة وسط
                الشباب، نتيجة المحتوى المميز والمتطور الذي تقدمه عبر موقعها الإلكتروني.</p>
            </li>
            <li>
              <p>تستخدم صحيفة "السعودية نيوز" أحدث التقنيات التكنولوجية، لتقديم أفضل الخدمات الإخبارية للقارئ، بالإضافة إلى
                نظام حماية متقدم، لمواجهة محاولات الاختراق.</p>
            </li>
            <li>
              <p>تمتلك "السعودية نيوز" تطبيقًا مميزًا لأجهزة الهواتف الذكية، لتغطية أنظمة هواتف: Android, iPhone, &amp;
                Blackberry.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}