<!DOCTYPE html>
<html class="no-js js-priorityNav" lang="ar" dir="rtl">
{% include 'head.html' %}

<body class="ar">

  <div class="page-wrapper">
    <!--[if IE]>
      <div role="alert" class="alert alert-warning fade in not-support-floating">
        <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span><span
                class="sr-only">Close</span>
        </button>
        <i class="fa fa-warning"></i>
        عذرًا المتصفح الخاص بك لا يدعم جميع خصائص هذا الموقع<br/>
        نرجو تحديث المتصفح الخاص بك إلى إصدار إنترنت إكسبلورر 10 او 11 حتى يدعم جميع الخصائص 
      </div>
    <![endif]-->

    {% include 'header.html' %}



    {% block content %}
    <h1>BODY NOT FOUND</h1>
    {% endblock content %}



    {% include 'footer.html' %}
  </div>

  {% include 'script.html' %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74924460-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-74924460-1');
  </script>

</body>

</html>