{% load static %}
{% load filters %}

<!DOCTYPE html>
<html class="" data-skin="light" dir="rtl" lang="ar">

<head>

  {% include 'head.html' %}
  {% block head %}
  {% endblock head %}
  {% include 'style.html' %}

  {% block headAfter %}

  {% endblock headAfter %}

</head>

<body class="
  {% block bodyClasses %}
    
  {% endblock bodyClasses %}
    " data-rsssl="1" id="tie-body">


  <div class="background-overlay">
    <div class="site tie-container" id="tie-container">
      <div id="tie-wrapper">
        {% include 'header.html' %}

        {% block content %}
        {% endblock content %}

        {% include 'footer.html' %}
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>

  <!-- unique -->
  <div id="reading-position-indicator"></div>


  <div class="autocomplete-suggestions" id="autocomplete-suggestions"></div>
  <div id="is-scroller-outer">
    <div id="is-scroller"></div>
  </div>

  <div id="fb-root"></div>

  {% include 'pop-up.html' %}
  {% include 'cookie-notice.html' %}
  {% include 'script.html' %}

  {% block body %}{% endblock body %}
</body>

</html>