{% extends 'base.html' %}
{% load static %}



{% block content %}



<section id="contact-us">
  <div class="auto-container">
    <div class="row">
      <ol class="breadcrumb">
        <li class="breadcrumb-item "><a href="https://sanews.pythonanywhere.com/"><span>الصفحة الرئيسية</span></a></li>
        <li class="breadcrumb-item active"><a href="{% url 'contact-us' %}"><span>اتصل بنا</span></a>
        </li>
      </ol>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="title-bg ajel">
          <!-- <span class="icon-Weather-Icons-16"></span>
          <span class="flaticon-pause-bars"></span> -->
          <img class="icon-Weather-Icons-16" src="{% static '/assets/images/tab.png' %}" alt="">

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="h3 header-title mT-5 red">اتصل بنا</div>
            </div>
          </div>
        </div>
        <div class="contact">
          <div class="h3">الأعزاء زوار صحيفة "السعودية نيوز" الإلكترونية..
          </div>
          <p>نشكركم على زيارة موقعنا، ويسعدنا دومًا أن نتلقى رسائلكم واستفساراتكم ومقترحاتكم التي نَعِدُكُم بأنها
            ستكون محل اهتمام وترحيب من قِبَل إدارة الصحيفة.
          </p>
          <p>نتطلع دائمًا إلى رضاكم، فلا تترددوا في التواصل معنا؛ ونَعِدُكُم دومًا بالمزيد..
          </p>
        </div>
        <div class="title-bg ajel">
          <!-- <span class="icon-Weather-Icons-16"></span>
          <span class="flaticon-pause-bars"></span> -->
          <img class="icon-Weather-Icons-16" src="{% static '/assets/images/tab.png' %}" alt="">

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <a class="header-title red">تواصل معنا</a>
            </div>
          </div>
        </div>
      </div>
      <div class="info-contact">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <div class="wrap-login100" id="signup-page">



            <form id="contact-form" novalidate="novalidate" class="login100-form validate-form dev-js-validation" autocomplete="off">
              <div class="form-group wrap-input100">
                <input type="text" id="contactMessage_type_mainTitle" name="contactMessage_type[mainTitle]"
                  required="required" class="form-control" data-rule-minlength="3" data-rule-maxlength="330"
                  placeholder="الموضوع" aria-required="true">
              </div>
              <div class="form-group wrap-input100">
                <div class="phone-select">
                  <select class="form-control select2 form-control selectpicker no-box"
                    id="contactMessage_type_contactType" name="contactMessage_type[contactType]">
                    <option value="5-notes">ملاحظات</option>
                    <option value="4-complaint">شكوى</option>
                    <option value="2-suggestion">طلب رعاية</option>
                    <option value="3-news">خبر</option>
                    <option value="1-other">أخرى</option>
                  </select>
                </div>
              </div>
              <div class="form-group wrap-input100">
                <textarea id="contactMessage_type_content" name="contactMessage_type[content]" required="required"
                  class="form-control" row="3" 0="form-control" data-rule-minlength="3" data-rule-maxlength="1200"
                  placeholder="المحتوى" aria-required="true"></textarea>
              </div>
              <div class="container-login100-form-btn">
                <button class="login100-form-btn">إرسال</button>
              </div>
            </form>

            <script>
              const contactForm = document.querySelector('#contact-form');
              contactForm.addEventListener('submit', e => {
                e.preventDefault();
                const btn = contactForm.querySelector('.container-login100-form-btn button');
                btn.disabled = true;

                setTimeout(() => {
                  btn.disabled = false;
                  contactForm.reset()
                }, 2000)
              })
            </script>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">


          <ul class="cont-info">
            <li><i class="fas fa-phone"></i><a class="phone_number">+996 00000000000</a></li>
            <li><i class="fas fa-envelope-open"></i><a>ContactUs@sanews.pythonanywhere.com</a></li>
            <li><i class="fas fa-map-marker-alt"></i>
              <a>
                1225 شارع الورود, الرياض, المملكة العربية السعودية </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}