<div aria-label="Cookie Notice" class="cookie-notice-hidden cookie-revoke-hidden cn-position-bottom" id="cookie-notice"
  role="banner" style="background-color: rgba(0,0,0,1);">
  <div class="cookie-notice-container" style="color: #fff;"><span class="cn-text-container" id="cn-notice-text">We use
      cookies to ensure that we give you the best experience on our website. If you continue to use this site we will
      assume that you are happy with it.</span><span class="cn-buttons-container" id="cn-notice-buttons"><a
        aria-label="Ok" class="cn-set-cookie cn-button bootstrap" data-cookie-set="accept" href="#"
        id="cn-accept-cookie">Ok</a></span><a aria-label="Ok" class="cn-close-icon" data-cookie-set="accept"
      href="javascript:void(0);" id="cn-close-notice"></a></div>
</div>