<footer class="site-footer dark-skin dark-widgetized-area" id="footer">
  <div class="site-info site-info-layout-2" id="site-info">
    <div class="container">
      <div class="tie-row">
        <div class="tie-col-md-12">
          <div class="copyright-text copyright-text-first">
            © حقوق النشر 2021، جميع الحقوق محفوظة
          </div>
          <div class="footer-menu">
            <ul class="menu" id="menu-tielabs-secondry-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1570" id="menu-item-1570">
                <a href="/contact/">اتصل بنا</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1571" id="menu-item-1571">
                <a href="/terms/">الشروط والاحكام</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1572" id="menu-item-1572">
                <a href="/privacy-policy/">سياسة الخصوصية</a></li>
      
            </ul>
          </div>
          <ul class="social-icons">
            <li class="social-icons-item"><a class="social-link facebook-social-icon"
                href="https://www.facebook.com/Sawahpress/" rel="external noopener nofollow" target="_blank"><span
                  class="tie-social-icon tie-icon-facebook"></span><span class="screen-reader-text">فيسبوك</span></a>
            </li>
            <li class="social-icons-item"><a class="social-link twitter-social-icon"
                href="https://twitter.com/sawahpress" rel="external noopener nofollow" target="_blank"><span
                  class="tie-social-icon tie-icon-twitter"></span><span class="screen-reader-text">تويتر</span></a>
            </li>
            <li class="social-icons-item"><a class="social-link pinterest-social-icon"
                href="https://tr.pinterest.com/officialsawahmedia" rel="external noopener nofollow"
                target="_blank"><span class="tie-social-icon tie-icon-pinterest"></span><span
                  class="screen-reader-text">بينتيريست</span></a></li>
            <li class="social-icons-item"><a class="social-link youtube-social-icon"
                href="https://www.youtube.com/channel/UCk2FMHs8HTTBJJvF08edmLA" rel="external noopener nofollow"
                target="_blank"><span class="tie-social-icon tie-icon-youtube"></span><span
                  class="screen-reader-text">يوتيوب</span></a></li>
            <li class="social-icons-item"><a class="social-link instagram-social-icon"
                href="https://www.instagram.com/sawah.press/" rel="external noopener nofollow" target="_blank"><span
                  class="tie-social-icon tie-icon-instagram"></span><span class="screen-reader-text">انستقرام</span></a>
            </li>
            <li class="social-icons-item"><a class="social-link paypal-social-icon"
                href="https://www.paypal.com/paypalme/sawahmedia" rel="external noopener nofollow" target="_blank"><span
                  class="tie-social-icon tie-icon-paypal"></span><span class="screen-reader-text">‏Paypal</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>