{% load static %}
{% load filters %}

<footer>
  <div class="auto-container">
    <div class="upper-footer">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-12 footer-right">
          <a href="https://sanews.pythonanywhere.com/" class=" title-height " style="display: inline;">
            <img src="{% static '/assets/images/tab.png' %}" alt="السعودية نيوز">
          </a>
          <div class="ul-flex hidden-sm hidden-xs">
            <ul>
              <li><a href="{% url 'about-us' %}">عن السعودية نيوز</a></li>
              <li><a href="{% url 'contact-us' %}">اتصل بنا</a></li>
              <li><a href="{% url 'privacy-policy' %}">سياسة الخصوصية</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5  col-lg-offset-1 col-md-4  col-sm-6 col-12">
          <div class="title-height h3" style="line-height: 1.6;">صحيفة السعودية نيوز الإلكترونية</div>
          <div class="ul-flex">
            <ul>

              {% for category in footer_categories|slice:":4" %}
              <li>
                <a href="{{ category.get_absolute_url }}">
                  <span style="background-color: {{ category.css_icon_color|operator_or:'#EEE' }};opacity: 0.65;"></span>
                  {{ category.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
            <ul>

              {% for category in footer_categories|slice:"5:8" %}
              <li>
                <a href="{{ category.get_absolute_url }}">
                  <span style="background-color: {{ category.css_icon_color|operator_or:'#EEE' }};opacity: 0.65;"></span>
                  {{ category.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lower-footer">
    <div class="auto-container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="clear-fix">
            <div class="h5 mt3 mb3 ">
              جميع الحقوق محفوظة <a href="">لصحيفة السعودية نيوز</a> <span> 2007-2020 ©</span>
            </div>
          </div>
          <br class="clearfix">
        </div>

      </div>
    </div>
  </div>

</footer>
