<div id="form-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="h3 modal-title">
          أدخل البريد الإلكتروني </div>
      </div>
      <form novalidate="novalidate" class="dev-js-validation" method="post"
        action="https://ajel.sa/socialEmailVerify">
        <div class="modal-body">
          <div class="form-group">
            <input type="email" id="form_email" name="form[email]" required="required" class="email form-control"
              placeholder="ادخل البريد الالكترونى" aria-required="true">
          </div>
        </div>
        <div class="modal-footer">
          <button class="signBtn btn btn-default" type="submit">إدخال</button>
        </div>
      </form>
    </div>
  </div>
</div>
