<head>
  {% include 'meta.html' %}

  <title>صحيفة عاجل</title>


  <!-- apple setup -->
  <link rel="apple-touch-icon" sizes="180x180" href="https://ajel.sa/ajel/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://ajel.sa/ajel/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://ajel.sa/ajel/favicon-16x16.png">
  <link rel="shortcut icon" href="https://ajel.sa/favicon.ico" type="image/x-icon">

  <link rel="amphtml" href="https://ajel.sa/568LBF/amp/">
  <link rel="canonical" href="https://ajel.sa/568LBF/">
  <link rel="alternate" type="application/rss+xml" title="" href="https://ajel.sa/rss">

  {% include 'style.html' %}
</head>
