{% load static %}

<header class="theme-header header-layout-3 main-nav-dark main-nav-default-dark main-nav-below main-nav-boxed has-stream-item top-nav-active top-nav-light top-nav-default-light top-nav-above has-shadow has-normal-width-logo has-custom-sticky-logo mobile-header-default" id="theme-header">

  <nav aria-label="الشريط العلوي" class="has-date-breaking-components top-nav header-nav has-breaking-news"
    id="top-nav">


    <div class="container">
      <div class="topbar-wrapper">
        <div class="topbar-today-date tie-icon">{{ today_date }}</div>
        <div class="tie-alignleft">
          <div class="breaking controls-is-active">
            <span class="breaking-title">
              <span aria-hidden="true" class="tie-icon-bolt breaking-icon"></span>
              <span class="breaking-title-text">أخبار عاجلة</span>
            </span>
            <ul class="breaking-news" data-arrows="true" data-type="reveal" id="breaking-news-in-header">

              {% for p in random_posts %}
              <li class="news-item">
                <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
              </li>
              {% endfor %}

            </ul>
          </div>
        </div>
        <div class="tie-alignright">
          <ul class="components">
            <li class="side-aside-nav-icon menu-item custom-menu-link">
              <a href="#">
                <span aria-hidden="true" class="tie-icon-navicon"></span>
                <span class="screen-reader-text">إضافة عمود جانبي</span>
              </a>
            </li>
            <li class="random-post-icon menu-item custom-menu-link">
              <a class="random-post" href="{{ random_post.get_absolute_url }}" rel="nofollow" title="مقال عشوائي">
                <span aria-hidden="true" class="tie-icon-random"></span>
                <span class="screen-reader-text">مقال عشوائي</span>
              </a>
            </li>
            <li class="social-icons-item"><a class="social-link paypal-social-icon"
                href="{{ social.paypal }}" rel="external noopener nofollow" target="_blank"><span
                  class="tie-social-icon tie-icon-paypal"></span><span class="screen-reader-text">‏Paypal</span></a>
            </li>
            <li class="social-icons-item"><a class="social-link instagram-social-icon"
                href="{{ social.instagram }}" rel="external noopener nofollow" target="_blank"><span
                  class="tie-social-icon tie-icon-instagram"></span><span class="screen-reader-text">انستقرام</span></a>
            </li>
            <li class="social-icons-item"><a class="social-link youtube-social-icon"
                href="{{ social.youtube }}" rel="external noopener nofollow"
                target="_blank"><span class="tie-social-icon tie-icon-youtube"></span><span
                  class="screen-reader-text">يوتيوب</span></a></li>
            <li class="social-icons-item"><a class="social-link pinterest-social-icon"
                href="{{ social.pinterest }}" rel="external noopener nofollow"
                target="_blank"><span class="tie-social-icon tie-icon-pinterest"></span><span
                  class="screen-reader-text">بينتيريست</span></a></li>
            <li class="social-icons-item"><a class="social-link twitter-social-icon"
                href="{{ social.twitter }}" rel="external noopener nofollow" target="_blank"><span
                  class="tie-social-icon tie-icon-twitter"></span><span class="screen-reader-text">تويتر</span></a>
            </li>
            <li class="social-icons-item"><a class="social-link facebook-social-icon"
                href="{{ social.facebook }}" rel="external noopener nofollow" target="_blank"><span
                  class="tie-social-icon tie-icon-facebook"></span><span class="screen-reader-text">فيسبوك</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </nav>

  <div class="container header-container">
    <div class="tie-row logo-row">
      <div class="logo-wrapper">
        <div class="tie-col-md-4 logo-container clearfix">
          <div class="mobile-header-components" id="mobile-header-components-area_1">
            <ul class="components">
              <li class="mobile-component_menu custom-menu-link"><a class="" href="#" id="mobile-menu-icon"><span
                    class="tie-mobile-menu-icon tie-icon-grid-4"></span><span
                    class="screen-reader-text">القائمة</span></a></li>
              <li class="mobile-component_search custom-menu-link">
                <a class="tie-search-trigger-mobile" href="#">
                  <span aria-hidden="true" class="tie-icon-search tie-search-icon"></span>
                  <span class="screen-reader-text">بحث عن</span>
                </a>
              </li>
              <li class="mobile-component_skin custom-menu-link">
                <a class="change-skin" href="#" title="الوضع المظلم">
                  <span aria-hidden="true" class="tie-icon-moon change-skin-icon"></span>
                  <span class="screen-reader-text">الوضع المظلم</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="image-logo" id="logo" style="margin-top: 20px; margin-bottom: 20px;">
            <a href="{% url 'home' %}" title="{{ site_name }}">
              <picture class="tie-logo-default tie-logo-picture" id="tie-logo-default">
                <source class="tie-logo-source-default tie-logo-source"
                  srcset="{% static 'png/مكساوى-لوجو-عربى.png' %}">
                <img alt="{{ site_name }}" class="tie-logo-img-default tie-logo-img" height="141"
                  src="{% static 'png/مكساوى-لوجو-عربى.png' %}" style="max-height:141px; width: auto;"
                  width="577" />
                </source>
              </picture>
              <picture class="tie-logo-inverted tie-logo-picture" id="tie-logo-inverted">
                <source class="tie-logo-source-inverted tie-logo-source" id="tie-logo-inverted-source"
                  srcset="{% static 'png/سواح-ميديا-ابيض-1.23d986a6.png' %}">
                <img alt="{{ site_name }}" class="tie-logo-img-inverted tie-logo-img" height="141" id="tie-logo-inverted-img"
                  src="{% static 'png/سواح-ميديا-ابيض-1.23d986a6.png' %}" style="max-height:141px; width: auto;"
                  width="577" />
                </source>
              </picture>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-nav-wrapper">
    <nav aria-label="القائمة الرئيسية" class="main-nav header-nav live-search-parent" data-skin="search-in-main-nav"
      id="main-nav">

      <div class="container">
        <div class="main-menu-wrapper">
          <div id="menu-components-wrap">
            
            <div class="image-logo" id="sticky-logo">
              <a href="{% url 'home' %}" title="{{ site_name }}">
                <picture>
                  <source srcset="{% static 'png/سواح-ميديا-ابيض-1.23d986a6.png' %}">
                  <img alt="{{ site_name }}" src="{% static 'png/سواح-ميديا-ابيض-1.23d986a6.png' %}"
                    style="max-height:49px; width: auto;" />
                  </source>
                </picture>
              </a>
            </div>
            
            
            <div class="flex-placeholder"></div>
            
            
            <div class="main-menu main-menu-wrap tie-alignleft">
              <div class="main-menu header-menu" id="main-nav-menu">
                <ul class="menu" id="menu-tielabs-main-menu" role="menubar">
                  <li class="
                  {% if current_tab == 'الرئيسية' %}
                    {{ current_tab_class }}
                  {% endif %}
                    menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-1512" id="menu-item-1512"><a href="{% url 'home' %}">الرئيسية</a>
                  </li>

                  <li class="
                  {% if current_tab == 'الاخبار' %}
                    {{ current_tab_class }}
                  {% endif %}
                    menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor menu-item-4837 mega-menu mega-cat"
                    data-id="37" id="menu-item-4837"><a href="{% url 'category-filter' 'الاخبار' %}">الاخبار</a>
                    <div class="mega-menu-block menu-sub-content">
                      <div class="mega-menu-content">
                        <div class="mega-cat-wrapper">
                          <ul class="mega-cat-sub-categories cats-vertical">
                            <li class="mega-all-link"><a class="is-active is-loaded mega-sub-cat" data-id="37" href="{% url 'category-filter' 'الاخبار' %}">الكل</a></li>
                            <li><a class="mega-sub-cat" data-id="40"href="{% url 'category-filter' 'اخبار الاقتصاد' %}">اخبار الاقتصاد</a></li>
                            <li><a class="mega-sub-cat" data-id="42"href="{% url 'category-filter' 'اخبار الخليج' %}">اخبار الخليج</a></li>
                            <li><a class="mega-sub-cat" data-id="39"href="{% url 'category-filter' 'اخبار الشرق الأوسط' %}">اخبار الشرق الأوسط</a></li>
                            <li><a class="mega-sub-cat" data-id="38"href="{% url 'category-filter' 'اخبار العالم' %}">اخبار العالم</a></li>
                            <li><a class="mega-sub-cat" data-id="41"href="{% url 'category-filter' 'اخبار المغرب العربي' %}">اخبار المغرب العربي</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="
                  {% if current_tab == 'اخبار التقنية' %}
                    {{ current_tab_class }}
                  {% endif %}
                    menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4836" id="menu-item-4836"><a href="{% url 'category-filter' 'اخبار التقنية' %}">تكنولوجيا</a></li>
                  <li class="
                  {% if current_tab == 'الرياضة' %}
                    {{ current_tab_class }}
                  {% endif %}
                    menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4838" id="menu-item-4838"><a href="{% url 'category-filter' 'الرياضة' %}">الرياضة</a></li>
                  <li class="
                  {% if current_tab == 'الصحة والجمال' %}
                    {{ current_tab_class }}
                  {% endif %}
                    menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4839" id="menu-item-4839"><a href="{% url 'category-filter' 'الصحة والجمال' %}">الصحة والجمال</a></li>
                  <li class="
                  {% if current_tab == 'لايف ستايل' %}
                    {{ current_tab_class }}
                  {% endif %}
                    menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4840" id="menu-item-4840"><a href="{% url 'category-filter' 'لايف ستايل' %}">لايف ستايل</a></li>
                  <li class="
                  {% if current_tab == 'مقالات' %}
                    {{ current_tab_class }}
                  {% endif %}
                    menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4841" id="menu-item-4841"><a href="{% url 'category-filter' 'مقالات' %}">مقالات</a></li>
                  <li class="
                  {% if current_tab == 'منوعات' %}
                    {{ current_tab_class }}
                  {% endif %}
                    menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-4842" id="menu-item-4842"><a href="{% url 'category-filter' 'منوعات' %}">منوعات</a>
                    <ul class="sub-menu menu-sub-content">
                      <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4843"  id="menu-item-4843"><a href="{% url 'category-filter' 'افلام ومسلسلات' %}"> افلام ومسلسلات</a></li>
                      <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4844"  id="menu-item-4844"><a href="{% url 'category-filter' 'التعليم' %}">التعليم</a></li>
                      <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4845"  id="menu-item-4845"><a href="{% url 'category-filter' 'الفن والفنانين' %}">الفن والفنانين</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

            <ul class="components">
              <li class="search-compact-icon menu-item custom-menu-link">
                <a class="tie-search-trigger" href="#">
                  <span aria-hidden="true" class="tie-icon-search tie-search-icon"></span>
                  <span class="screen-reader-text">بحث عن</span>
                </a>
              </li>
              <li class="skin-icon menu-item custom-menu-link">
                <a class="change-skin" href="#" title="الوضع المظلم">
                  <span aria-hidden="true" class="tie-icon-moon change-skin-icon"></span>
                  <span class="screen-reader-text">الوضع المظلم</span>
                </a>
              </li>
              <script>
                function toggleLocalStorage(name){
                  if (localStorage.getItem(name))
                    localStorage.setItem(name, undefined)
                  else
                    localStorage.setItem(name, true)
                }

                function setDarkMode(){
                  console.log('dark mode event triggered')

                  let toggleClasses = {
                    'html': ['tie-skin-inverted', 'dark-skin'], 'header': ['top-nav-dark']
                  }

                  for(let selector in toggleClasses){
                    let elm = document.querySelector(selector)
                    toggleClasses[selector].forEach(cls => elm.classList.toggle(cls))
                  }

                  toggleLocalStorage('dm')
                }

                function setDarkModeEvent(){
                  console.log('dark mode event set')
                  // let darkModeBtn = document.querySelector('a[title="الوضع المظلم"]')
                  let darkModeBtn = document.querySelector('li.skin-icon.menu-item.custom-menu-link')
                  console.log(darkModeBtn)
                  darkModeBtn.addEventListener('click', setDarkMode)
                }

                setTimeout(setDarkModeEvent, 3000)
              </script>
              <li class="side-aside-nav-icon menu-item custom-menu-link">
                <a href="#">
                  <span aria-hidden="true" class="tie-icon-navicon"></span>
                  <span class="screen-reader-text">إضافة عمود جانبي</span>
                </a>
              </li>
              <li class="random-post-icon menu-item custom-menu-link">
                <a class="random-post" href="{{ random_post.get_absolute_url }}" rel="nofollow" title="مقال عشوائي">
                  <span aria-hidden="true" class="tie-icon-random"></span>
                  <span class="screen-reader-text">مقال عشوائي</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </nav>
  </div>

</header>