{% extends 'base.html' %}
{% load static %}
{% load filters %}


{% block content %}


<section id="slider">
  <div class="auto-container">

    <div class="row hidden-xs hidden-sm">
      <div class="col-md-6 col-sm-12 col-xs-12 slide-column">
        <div id="carousel-1" class="carousel slide" data-ride="carousel">

          <style>
            .carousel-inner .overlay .slide-content.local::after {
              border: 0;
            }
          </style>

          {% for post in featured_posts|slice:"0:1"  %}
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="{{ post.thumbnailURL }}" style="height: 306.91px;"
                alt="{{ post.title }}"
                pinger-seen="true">
              <div class="overlay">
                <div class="carousel-caption">
                  <div class="slide-content local">
                    <div class=" without-opacity " style="opacity: 1 !important;">
                      <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
                    </div>
                  </div>
                  <ul class="post-meta">
                    <li><span class="flaticon-clock-circular-outline"></span>{{ post.created|since_when }}</li>
                    <li>{{ post.seen_count }}<span class="flaticon-view"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
            

        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">
        
        {% for post in featured_posts|slice:"1:5" %}
        <div class="col-md-6 col-sm-6 col-xs-12 slide-column ">
          <div class="item-block green-bg mainSliderParentlocal ">
            <a href="{{ post.categories.first.get_absolute_url }}"><i class="mainSliderNewslocal * {{ post.categories.first.css_icon_class }} *"></i></a>
            <img src="{{ post.thumbnailURL }}" style="height: 151.81px;"
              alt="{{ post.title }}" pinger-seen="true">
            <div class="overlay-box">
              <div class="content-box">
                <div class="h3"><a href="{{ post.get_absolute_url }}">{{ post.title|slice:":60" }}...</a></div>
                <ul class="post-meta">
                  <li><span class="flaticon-clock-circular-outline"></span>{{ post.created|since_when }}</li>
                  <li>{{ post.seen_count }}<span class="flaticon-view"></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-xs-12 hidden-lg hidden-md ">

        <div class="slider-div">
          <div id="main-slider" class="owl-carousel owl-theme owl-rtl owl-loaded owl-drag">

            <div class="owl-stage-outer">
              <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;">
                
                
                {% for post in featured_posts %}
                <div class="owl-item">
                  <div class="item">
                    <div class="silder-item">
                      <img src="{{ post.thumbnailURL }}" alt="{{ post.title }}" pinger-seen="true">

                      <div class="slider-overlay">
                        <div class="slide-content local-slide-content green-chat">
                          <div class="h3">
                            <a class="light-green" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                          </div>
                        </div>
                      </div>
                      <div class="overlay"></div>
                    </div>
                    
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>

            <div class="owl-nav">
              <button type="button" role="presentation" class="owl-prev">
                <i class="flaticon-right-arrow"></i>
              </button>
              <button type="button" role="presentation" class="owl-next disabled">
                <i class="flaticon-arrows"></i>
              </button>
            </div>
            <div class="owl-dots">
              <button role="button" class="owl-dot">
                <span></span>
              </button>
              <button role="button" class="owl-dot active">
                <span></span>
              </button>
              </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>


<!-- done -->
<section id="notifications">
  <div class="auto-container">
    <div class="title-bg ">
      <span class=" icon-Weather-Icons-16"></span>
      <span class="flaticon-notifications"></span>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="h3 header-title mT-5 gray">تابع المواضيع الرائجة</div>
        </div>
      </div>
    </div>

    <div class="tag-check">

      {% for tag in popular_tags %}
      <a data-count="{{ tag.count }}" href="{% url 'tag-filter' tag.tags__title %}">
        {{ tag.tags__title }}
      </a>
      {% endfor %}

    </div>

  </div>
</section>


<section id="lastest-news">
  <div class="auto-container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="title-bg">
          <!-- <span class="icon-Weather-Icons-16"></span>
          <span class="flaticon-pause-bars"></span> -->
          <img class="icon-Weather-Icons-16" src="{% static '/assets/images/tab.png' %}" alt="">

          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
              <a href="{% url 'latest-posts' %}" class="header-title red">اّخر الأخبار </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 select-city">
              <a href="{% url 'latest-posts' %}" class="more-arrow"> المزيد <i class="flaticon-arrows"></i></a>
            </div>
          </div>
        </div>


        {% for post in latest_posts %}
        <div class="news-item">
          <div class="new-image triangle-International">
            <a class="icon-white" href="{{ post.categories.first.get_absolute_url }}"><i
                class="{{ post.categories.first.css_icon_class }}"></i></a>
            <a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnailURL }}" alt="{{ post.title }}"
                pinger-seen="true"></a>
          </div>

          <div class="news-details">
            {% if post.small_summery %}
            <div class="h4">
              <a href="{{ post.get_absolute_url }}">{{ post.small_summery }}</a>
            </div>
            {% endif %}

            <h2>
              <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h2>

            <p>{{ post.content|html2text|slice:"0:200" }}...</p>

            <div class="flex">
              <ul class="post-meta ">
                <li><span class="flaticon-clock-circular-outline"></span>{{ post.created|since_when }}</li>
                <li>{{ post.seen_count }}<span class="flaticon-view"></span></li>
                <li>0<span class="flaticon-note"></span> </li>
              </ul>
              <ul class="news-btn">
                <li><a href="{{ post.get_absolute_url }}">اقرأ المزيد ... </a></li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}

        <div>
          <a href="{% url 'latest-posts' %}" class="more-result">المزيد</a>
        </div>

        <div>
        </div>
      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</section>


{% endblock content %}