{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block content %}

<div id="category-news">
  <section id="lastest-news">
    <div class="auto-container">
      <div class="row">
        <ol class="breadcrumb">
          <li class="breadcrumb-item "><a href="/"><span>الصفحة الرئيسية</span></a></li>
          <li class="breadcrumb-item active">
            <a href="{{ dir_url }}">
              <span>{{ dir_name }}</span>
            </a>
          </li>
        </ol>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="results-div">
          <div class="title-bg">
            <!-- <span class="icon-Weather-Icons-16"></span>
            <span class="flaticon-pause-bars"></span> -->
            <img class="icon-Weather-Icons-16" src="{% static '/assets/images/tab.png' %}" alt="">

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="header-title mT-5 red">{{ dir_name }} ({{ posts_length }})</div>
              </div>
            </div>
          </div>
          
          {% if posts %}
          {% for post in posts %}
          <div class="news-item">
            <div class="new-image triangle-International">
              <a class="icon-white" href="{{ post.categories.first.get_absolute_url }}"><i class="{{ post.categories.first.css_icon_class }}"></i></a>
              <a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnailURL }}" loading="lazy" alt="{{ post.title }}"></a>
            </div>
            <div class="news-details">
              <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
              <p>
                {{ post.content|html2text|slice:":200" }}...
              </p>
              <div class="flex">
                <ul class="post-meta ">
                  <li><span class="flaticon-clock-circular-outline"></span>{{ post.created|since_when }}</li>
                  <li>{{ post.seen_count }}<span class="flaticon-view"></span></li>
                </ul>
                <ul class="news-btn">
                  <li><a href="{{ post.get_absolute_url }}">
                      اقرأ المزيد ... </a></li>
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}

          <div>
            <div class="pagination" style="display: block;padding:0; width:100%">
              <div class="text-center">
                <a href="{{ dir_url }}?page={{ next_page }}" class="more-result">
                  <span>المزيد</span>
                </a>
              </div>
            </div>
          </div>
          {% else %}
          <div style="text-align: center;font-size: 30px;color: #818181;">
            لا توجد نتائج
          </div>
          {% endif %}
        </div>
        
        {% include 'sidebar.html' %}
      </div>
    </div>
  </section>
</div>
  
{% endblock content %}