{% load filters %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="keywords" content="عاجل، صحيفة، أخبار السعودية، محليات، سبق صحفي، حساب المواطن، رياضة،أخبار المملكة">
<meta name="description" content="صحيفة إلكترونية سعودية تم تأسيسها عام 2020 تهتم بنشر الأخبار المحلية والمنافسة في سبق الأخبار بمهنية ومصداقية وموضوعية.">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Author" content="صحيفة عاجل">
<meta name="copyright" content="2020 &amp;copy; جميع الحقوق محفوظة لعاجل">
<meta name="google-site-verification" content="uEVomjsn6efWSGScST4iOQmsAU6bNpDZLMNmn1tGl1E">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta name="p:domain_verify" content="b434d1ff6fc7f42bcc1739e81b6ee4f1">
<meta name="yandex-verification" content="64eae77aa3f41de4">
<meta name="msvalidate.01" content="373C4C82EA02A5CED5AC5082B4E5BDEE">
<meta property="fb:app_id" content="1809676182662129">
<meta property="fb:pages" content="200885629941471">

<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">

<meta name="robots" content="max-image-preview:large">

<meta name="ahrefs-site-verification" content="a777d058e70313f78016ea56683c08a87f1c58610ba4f07320fdf5608ed67959">
<meta name="wot-verification" content="798af8250bcdd9908696">


<meta property="og:url" content="content="{% if post %}{{ post.get_absolut_url }}{% else %}https://bblog.pythonanywhere.com{% endif %}"">
<meta property="og:image" content="{% if post %}{{post.thumbnailURL}}{% else %}https://ajel.sa/ajel/images/logo.png{% endif %}">
<meta property="og:title" content="{% if post %}{{post.title}}{% else %}صحيفة عاجل لنشر أخبار المملكة لحظة بلحظة{% endif %}">
<meta property="og:description" content="{% if post %}{{ post.content|html2text|slice:":200" }}...{% else %}صحيفة إلكترونية سعودية تم تأسيسها عام 2020 تهتم بنشر الأخبار المحلية والمنافسة في سبق الأخبار بمهنية ومصداقية وموضوعية.{% endif %}">
<meta property="og:site_name" content="صحيفة عاجل">
<meta property="og:type" content="article">
<meta property="og:image:width" content="700">
<meta property="og:image:height" content="400">
<meta property="og:locale" content="ar_AR">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{% if post %}{{post.title}}{% else %}صحيفة عاجل لنشر أخبار المملكة لحظة بلحظة{% endif %}">
<meta property="twitter:image" content="{% if post %}{{post.thumbnailURL}}{% else %}https://ajel.sa/ajel/images/logo.png{% endif %}">
<meta property="twitter:description" content="{% if post %}{{ post.content|html2text|slice:":200" }}...{% else %}صحيفة إلكترونية سعودية تم تأسيسها عام 2020 تهتم بنشر الأخبار المحلية والمنافسة في سبق الأخبار بمهنية ومصداقية وموضوعية.{% endif %}">
<meta property="twitter:domain" content="https://bblog.pythonanywhere.com">
<!-- <meta property="twitter:site" content="@ajlnews"> -->


<meta itemprop="height" content="720">
<meta itemprop="width" content="1280">
<meta itemprop="url" content="{% if post %}{{post.thumbnailURL}}{% else %}https://ajel.sa/ajel/images/logo.png{% endif %}">
