{% extends 'base.html' %}
{% load static %}
{% load filters %}


{% block head %}
<title>إ{{ post.title }} | سواح ميديا</title>


<link href="{{ post.get_absolute_url }}" rel="canonical" />

<meta content="770" property="og:image:width" />
<meta content="513" property="og:image:height" />
<meta content="article" property="og:type" />
<meta content="{{ post.date }}" property="article:published_time" />
<meta content="{{ post.thumbnailURL }}" property="og:image" />
<meta content="{{ post.title }}" property="og:title" />
<meta content="{{ post.description }}" property="og:description" />
<meta content="{{ post.get_absolute_url }}" property="og:url" />

<link href="{% static 'css/print.89a50f13.css' %}" id="tie-css-print-css" media="print" rel="stylesheet"
  type="text/css" />
<link data-minify="1" href="{% static 'css/9e9d5185ab7fa70124933592b56119cf.7f981d47.css' %}" media="all"
  rel="stylesheet" />
<link data-minify="1" href="{% static 'css/56ab2433da3c92248e21ed5adbbdfd7a.de4c16a2.css' %}" media="all"
  rel="stylesheet" />
{% endblock head %}


{% block bodyClasses %}
rtl post-template-default single single-post postid-1692 single-format-standard tie-no-js cookies-not-set
wrapper-has-shadow block-head-1 magazine3 magazine1 is-thumb-overlay-disabled is-desktop is-header-layout-3
has-header-ad sidebar-left has-sidebar post-layout-1 narrow-title-narrow-media is-standard-format hide_breaking_news
hide_footer hide_post_newsletter hide_read_next hide_post_authorbio hide_post_nav hide_back_top_button
hide_inline_related_posts
{% endblock bodyClasses %}




{% block content %}
<div class="site-content container" id="content">
  <div class="tie-row main-content-row" id="main-content-row">
    <div class="main-content tie-col-md-8 tie-col-xs-12" role="main">
      <article class="container-wrapper post-content tie-standard" id="the-post">
        <header class="entry-header-outer">
          <nav id="breadcrumb">
            <a href="/">
              <span aria-hidden="true" class="tie-icon-home">

              </span>
              الرئيسية
            </a>

            {% if post.category %}
            <em class="delimiter">/</em>
            <a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a>
            {% endif %}

            {% if post.sub_category %}
            <em class="delimiter">/</em>
            <a href="{{ post.sub_category.get_absolute_url }}">{{ post.sub_category.title }}</a>
            {% endif %}

            <em class="delimiter">/</em>
            <span class="current">
              {{ post.title }}
            </span>
          </nav>

          <div class="entry-header">
            <span class="post-cat-wrap">

              {% if post.category %}
              <a class="post-cat tie-cat-42" href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a>
              {% elif pose.sub_category %}
              <a class="post-cat tie-cat-42"
                href="{{ post.sub_category.get_absolute_url }}">{{ post.sub_category.title }}</a>
              {% endif %}

            </span>
            <h1 class="post-title entry-title">{{ post.title }}</h1>

            <div class="post-meta clearfix" id="single-post-meta">
              <span class="date meta-item tie-icon">{{ post.date }}</span>
              <div class="tie-alignright">
                <span class="meta-comment tie-icon meta-item fa-before">0</span>
                <span class="meta-views meta-item">
                  <span aria-hidden="true" class="tie-icon-fire">

                  </span> {{ post.seen_count }}
                </span>
              </div>
            </div>
          </div>
        </header>

        <div class="share-buttons share-buttons-top" id="share-buttons-top">
          <div class="share-links">
            <a class="facebook-share-btn large-share-button"
              data-raw="https://www.facebook.com/sharer.php?u={post_link}"
              href="https://www.facebook.com/sharer.php?u={% abs_url 'post-detail' post.pk %}"
              rel="external noopener nofollow" target="_blank" title="فيسبوك">
              <span class="share-btn-icon tie-icon-facebook">
              </span>
              <span class="social-text">فيسبوك</span>
            </a>
            <a class="twitter-share-btn large-share-button"
              data-raw="https://twitter.com/intent/tweet?text={post_title}&amp;url={post_link}"
              href="https://twitter.com/intent/tweet?text={{ post.title }}&amp;url={% abs_url 'post-detail' post.pk %}"
              rel="external noopener nofollow" target="_blank" title="تويتر">
              <span class="share-btn-icon tie-icon-twitter">
              </span>
              <span class="social-text">تويتر</span>
            </a>
            <a class="linkedin-share-btn"
              data-raw="https://www.linkedin.com/shareArticle?mini=true&amp;url={post_full_link}&amp;title={post_title}"
              href="https://www.linkedin.com/shareArticle?mini=true&amp;url={% abs_url 'post-detail' post.pk %}&amp;title={{ post.title }}"
              rel="external noopener nofollow" target="_blank" title="لينكدإن">
              <span class="share-btn-icon tie-icon-linkedin">

              </span>
              <span class="screen-reader-text">لينكدإن</span>
            </a>
            <a class="messenger-mob-share-btn messenger-share-btn"
              data-raw="fb-messenger://share?app_id=5303202981&amp;display=popup&amp;link={post_link}&amp;redirect_uri={post_link}"
              href="fb-messenger://share?app_id=5303202981&amp;display=popup&amp;link={% abs_url 'post-detail' post.pk %}&amp;redirect_uri={% abs_url 'post-detail' post.pk %}"
              rel="external noopener nofollow" target="_blank" title="ماسنجر">
              <span class="share-btn-icon tie-icon-messenger">

              </span>
              <span class="screen-reader-text">ماسنجر</span>
            </a>
            <a class="messenger-desktop-share-btn messenger-share-btn"
              data-raw="https://www.facebook.com/dialog/send?app_id=5303202981&amp;display=popup&amp;link={post_link}&amp;redirect_uri={post_link}"
              href="https://www.facebook.com/dialog/send?app_id=5303202981&amp;display=popup&amp;link={% abs_url 'post-detail' post.pk %}&amp;redirect_uri={% abs_url 'post-detail' post.pk %}"
              rel="external noopener nofollow" target="_blank" title="ماسنجر">
              <span class="share-btn-icon tie-icon-messenger">

              </span>
              <span class="screen-reader-text">ماسنجر</span>
            </a>
            <a class="whatsapp-share-btn" data-raw="https://api.whatsapp.com/send?text={post_title}%20{post_link}"
              href="https://api.whatsapp.com/send?text={{ post.title }}%20{% abs_url 'post-detail' post.pk %}"
              rel="external noopener nofollow" target="_blank" title="واتساب">
              <span class="share-btn-icon tie-icon-whatsapp">

              </span>
              <span class="screen-reader-text">واتساب</span>
            </a>
            <a class="telegram-share-btn" data-raw="https://telegram.me/share/url?url={post_link}&amp;text={post_title}"
              href="https://telegram.me/share/url?url={% abs_url 'post-detail' post.pk %}&amp;text={{ post.title }}"
              rel="external noopener nofollow" target="_blank" title="تيلقرام">
              <span class="share-btn-icon tie-icon-paper-plane">

              </span>
              <span class="screen-reader-text">تيلقرام</span>
            </a>
            <a class="email-share-btn" data-raw="mailto:?subject={post_title}&amp;body={post_link}"
              href="mailto:?subject={{ post.title }}&amp;body={% abs_url 'post-detail' post.pk %}"
              rel="external noopener nofollow" target="_blank" title="مشاركة عبر البريد">
              <span class="share-btn-icon tie-icon-envelope">

              </span>
              <span class="screen-reader-text">مشاركة عبر
                البريد</span>
            </a>
            <a class="print-share-btn" data-raw="#" href="#" rel="external noopener nofollow" target="_blank"
              title="طباعة">
              <span class="share-btn-icon tie-icon-print">

              </span>
              <span class="screen-reader-text">طباعة</span>
            </a>
          </div>
        </div>

        <div class="featured-area">
          <div class="featured-area-inner">
            <figure class="single-featured-image">
              <img alt="" class="attachment-jannah-image-post size-jannah-image-post wp-post-image" height="470"
                loading="lazy" src="{{ post.thumbnailURL }}" width="770" />
            </figure>
          </div>
        </div>

        <div class="entry-content entry clearfix">
          {{ post.content | safe }}

          <br>
          <br>

          <div class="post-bottom-meta post-bottom-source">
            <div class="post-bottom-meta-title">
              <span aria-hidden="true" class="tie-icon-link">

              </span> المصدر
            </div>
            <span class="tagcloud">
              <a>{{ post.source }}</a>
            </span>
          </div>

          <p>

          </p>

          <div class="mag-box mini-posts-box content-only" id="inline-related-post">
            <div class="container-wrapper">
              <div class="widget-title the-global-title">
                <div class="the-subtitle">مقالات ذات صلة</div>
              </div>
              <div class="mag-box-container clearfix">
                <ul class="posts-items posts-list-container">
                  {% for p in post.related_posts %}
                  <li class="widget-single-post-item widget-post-list is-trending tie-standard">
                    <div class="post-widget-thumbnail">
                      <a aria-label="{{ p.title }}" class="post-thumb" href="{{ p.get_absolute_url }}">
                        <img alt="{{ p.title }}"
                          class="attachment-jannah-image-small size-jannah-image-small tie-small-image wp-post-image"
                          height="150" loading="lazy" src="{{ p.thumbnailURL }}" width="220" />
                      </a>
                    </div>
                    <div class="post-widget-body">
                      <h3 class="post-title">
                        <a href="{{ p.url }}">{{ p.title }}</a>
                      </h3>
                      <div class="post-meta">
                        <span class="date meta-item tie-icon">{{ p.date }}</span>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="share-buttons share-buttons-bottom" id="share-buttons-bottom">
          <div class="share-links icons-text">
            <div class="share-title">
              <span aria-hidden="true" class="tie-icon-share">

              </span>
              <span> شاركها</span>
            </div>
            <a class="facebook-share-btn large-share-button" data-mohamed="{% abs_url 'post-detail' post.pk %}"
              data-raw="https://www.facebook.com/sharer.php?u={post_link}"
              href="https://www.facebook.com/sharer.php?u={% abs_url 'post-detail' post.pk %}"
              rel="external noopener nofollow" target="_blank" title="فيسبوك">
              <span class="share-btn-icon tie-icon-facebook">

              </span>
              <span class="social-text">فيسبوك</span>
            </a>

            <a class="twitter-share-btn large-share-button"
              data-raw="https://twitter.com/intent/tweet?text={post_title}&amp;url={post_link}"
              href="https://twitter.com/intent/tweet?text={{ post.title }}&amp;url={% abs_url 'post-detail' post.pk %}"
              rel="external noopener nofollow" target="_blank" title="تويتر">
              <span class="share-btn-icon tie-icon-twitter">

              </span>
              <span class="social-text">تويتر</span>
            </a>

            <a class="pinterest-share-btn large-share-button"
              data-raw="https://pinterest.com/pin/create/button/?url={post_link}&amp;description={post_title}&amp;media={post_img}"
              href="https://pinterest.com/pin/create/button/?url={% abs_url 'post-detail' post.pk %}&amp;description={{ post.title }}&amp;media={{ post.thumbnailURL }}"
              rel="external noopener nofollow" target="_blank" title="بينتيريست">
              <span class="share-btn-icon tie-icon-pinterest">

              </span>
              <span class="social-text">بينتيريست</span>
            </a>

            <a class="messenger-mob-share-btn messenger-share-btn large-share-button"
              data-raw="fb-messenger://share?app_id=5303202981&amp;display=popup&amp;link={post_link}&amp;redirect_uri={post_link}"
              href="fb-messenger://share?app_id=5303202981&amp;display=popup&amp;link={% abs_url 'post-detail' post.pk %}&amp;redirect_uri={% abs_url 'post-detail' post.pk %}"
              rel="external noopener nofollow" target="_blank" title="ماسنجر">
              <span class="share-btn-icon tie-icon-messenger">

              </span>
              <span class="social-text">ماسنجر</span>
            </a>

            <a class="messenger-desktop-share-btn messenger-share-btn large-share-button"
              data-raw="https://www.facebook.com/dialog/send?app_id=5303202981&amp;display=popup&amp;link={post_link}&amp;redirect_uri={post_link}"
              href="https://www.facebook.com/dialog/send?app_id=5303202981&amp;display=popup&amp;link={% abs_url 'post-detail' post.pk %}&amp;redirect_uri={% abs_url 'post-detail' post.pk %}"
              rel="external noopener nofollow" target="_blank" title="ماسنجر">
              <span class="share-btn-icon tie-icon-messenger">

              </span>
              <span class="social-text">ماسنجر</span>
            </a>

            <a class="email-share-btn large-share-button" data-raw="mailto:?subject={post_title}&amp;body={post_link}"
              href="mailto:?subject={{ post.title }}&amp;body={% abs_url 'post-detail' post.pk %}"
              rel="external noopener nofollow" target="_blank" title="مشاركة عبر البريد">
              <span class="share-btn-icon tie-icon-envelope">

              </span>
              <span class="social-text">مشاركة عبر
                البريد</span>
            </a>

            <a class="print-share-btn large-share-button" data-raw="#" href="#" rel="external noopener nofollow"
              target="_blank" title="طباعة">
              <span class="share-btn-icon tie-icon-print">

              </span>
              <span class="social-text">طباعة</span>
            </a>

          </div>
        </div>
      </article>

      <div class="post-components">
        <div class="comments-area" id="comments">
          <div class="container-wrapper" id="add-comment-block">
            <div class="comment-respond" id="respond">
              <h3 class="comment-reply-title the-global-title" id="reply-title">
                اترك تعليقاً
                <small>
                  <a href="#respond" id="cancel-comment-reply-link" rel="nofollow" style="display:none;">
                    إلغاء الرد
                  </a>
                </small>
              </h3>

              <form action="#" class="comment-form" id="commentform" method="post" novalidate="">
                <p class="comment-notes">
                  <span id="email-notes">لن يتم نشر عنوان بريدك الإلكتروني.</span> الحقول
                  الإلزامية مشار إليها بـ <span class="required">*</span>
                </p>

                <p class="comment-form-comment">
                  <label for="comment">التعليق</label>
                  <textarea cols="45" id="comment" maxlength="65525" name="comment" required="required" rows="8">
                  </textarea>
                </p>
                <p class="comment-form-author">
                  <label for="author">الاسم <span class="required">*</span>
                  </label>
                  <input id="author" maxlength="245" name="author" required="required" size="30" type="text" value="" />
                </p>
                <p class="comment-form-email">
                  <label for="email">البريد الإلكتروني <span class="required">*</span>
                  </label>
                  <input aria-describedby="email-notes" id="email" maxlength="100" name="email" required="required"
                    size="30" type="email" value="" />
                </p>
                <p class="comment-form-url">
                  <label for="url">الموقع الإلكتروني</label>
                  <input id="url" maxlength="200" name="url" size="30" type="url" value="" />
                </p>
                <p class="comment-form-cookies-consent">
                  <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox"
                    value="yes" />
                  <label for="wp-comment-cookies-consent">احفظ اسمي، بريدي الإلكتروني، والموقع الإلكتروني في هذا
                    المتصفح لاستخدامها المرة المقبلة في تعليقي.</label>
                </p>
                <p class="form-submit">
                  <input class="submit" id="submit" name="submit" type="submit" value="إرسال التعليق" />
                  <input id="comment_post_ID" name="comment_post_ID" type="hidden" value="1692" />
                  <input id="comment_parent" name="comment_parent" type="hidden" value="0" />
                </p>
                <p style="display: none;">
                  <input id="akismet_comment_nonce" name="akismet_comment_nonce" type="hidden" value="d4f0ea206c" />
                </p>
                <p style="display: none;">
                  <input id="ak_js" name="ak_js" type="hidden" value="178" />
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <aside aria-label="القائمة الجانبية الرئيسية" class="sidebar tie-col-md-4 tie-col-xs-12 normal-side is-sticky">
      <div class="theiaStickySidebar">

        <div class="container-wrapper widget posts-list" id="posts-list-widget-3">

          <div class="widget-title the-global-title">
            <div class="the-subtitle">اخر المقالات
              <span class="widget-title-icon tie-icon"></span>
            </div>
          </div>

          <div class="widget-posts-list-container posts-list-counter">
            <ul class="posts-list-items widget-posts-wrapper">
              {% for p in random_posts|slice:5 %}
              <li class="widget-single-post-item widget-post-list tie-standard">
                <div class="post-widget-thumbnail">
                  <a aria-label="{{ p.title }}" class="post-thumb" href="{{ p.get_absolute_url }}">
                    <img alt="{{ p.title }}"
                      class="attachment-jannah-image-small size-jannah-image-small tie-small-image wp-post-image"
                      height="150" loading="lazy" src="{{ p.thumbnailURL }}" width="220" />
                  </a>
                </div>
                <div class="post-widget-body">
                  <h3 class="post-title">
                    <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                  </h3>
                  <div class="post-meta">
                    <span class="date meta-item tie-icon">{{ p.date }}</span>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>

          </div>

          <!-- <div class="widget-pagination-wrapper">
            <ul class="slider-arrow-nav">
              <li>
                <a class="widget-pagination prev-posts pagination-disabled" href="#">
                  <span aria-hidden="true" class="tie-icon-angle-left">

                  </span>
                  <span class="screen-reader-text">الصفحة السابقة</span>
                </a>
              </li>

              <li>
                <a class="widget-pagination next-posts" href="#">
                  <span aria-hidden="true" class="tie-icon-angle-right">

                  </span>
                  <span class="screen-reader-text">الصفحة التالية</span>
                </a>
              </li>
            </ul>
          </div> -->
          <div class="clearfix"></div>
        </div>

        <div class="container-wrapper tabs-container-wrapper tabs-container-4">
          <div class="widget tabs-widget">
            <div class="widget-container">
              <div class="tabs-widget">
                <div class="tabs-wrapper">
                  <ul class="tabs">
                    <li>
                      <a href="#widget_tabs-1-popular">الأشهر</a>
                    </li>
                    <li>
                      <a href="#widget_tabs-1-recent">الأخيرة</a>
                    </li>
                    <li>
                      <a href="#widget_tabs-1-comments">تعليقات</a>
                    </li>
                  </ul>

                  <div class="tab-content tab-content-popular" id="widget_tabs-1-popular">
                    <ul class="tab-content-elements">

                      {% for p in popular_posts %}
                      <li class="widget-single-post-item widget-post-list tie-standard">
                        <div class="post-widget-thumbnail">
                          <a aria-label="{{ p.title }}" class="post-thumb" href="{{ p.get_absolute_url }}">
                            <img alt="{{ p.title }}"
                              class="attachment-jannah-image-small size-jannah-image-small tie-small-image wp-post-image"
                              height="150" loading="lazy" src="{{ p.thumbnailURL }}" width="220" />
                          </a>
                        </div>
                        <div class="post-widget-body">
                          <h3 class="post-title">
                            <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                          </h3>
                          <div class="post-meta">
                            <span class="date meta-item tie-icon">{{ p.date }}</span>
                          </div>
                        </div>
                      </li>
                      {% endfor %}

                    </ul>
                  </div>

                  <div class="tab-content tab-content-recent" id="widget_tabs-1-recent">
                    <ul class="tab-content-elements">
                      {% for p in latest_posts %}
                      <li class="widget-single-post-item widget-post-list tie-standard">
                        <div class="post-widget-thumbnail">
                          <a aria-label="{{ p.title }}" class="post-thumb" href="{{ p.get_absolute_url }}">
                            <img alt="{{ p.title }}"
                              class="attachment-jannah-image-small size-jannah-image-small tie-small-image wp-post-image"
                              height="150" loading="lazy" src="{{ p.thumbnailURL }}" width="220" />
                          </a>
                        </div>
                        <div class="post-widget-body">
                          <h3 class="post-title">
                            <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                          </h3>
                          <div class="post-meta">
                            <span class="date meta-item tie-icon">{{ p.date }}</span>
                          </div>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>

                  <div class="tab-content tab-content-comments" id="widget_tabs-1-comments">
                    <ul class="tab-content-elements">
                      <li>
                        <div class="post-widget-thumbnail" style="width:70px">
                          <a class="author-avatar" href="#">
                            <img alt="صورة Ferdi malak" class="avatar avatar-70 photo" height="70" loading="lazy"
                              src="https://secure.gravatar.com/avatar/e35cc0e99ab88d863fc9ec8a1a94c34f?s=70&amp;d=mm&amp;r=g"
                              srcset="https://secure.gravatar.com/avatar/e35cc0e99ab88d863fc9ec8a1a94c34f?s=140&amp;d=mm&amp;r=g 2x"
                              width="70" />
                          </a>
                        </div>
                        <div class="comment-body">
                          <a class="comment-author" href="#"> Ferdi malak </a>
                          <p>صفحتكم جميلة ومفيدة...</p>
                        </div>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>

{% endblock content %}