{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
  #chartbeat .title-bg .flaticon-pause-bars::before{
    color: white;
  }

  #chartbeat .title-bg .icon-Weather-Icons-16::before, #section-five .title-bg .icon-Weather-Icons-16::before {
    color: #ec1c3f;
  }
</style>

<div class="hide">
  <div itemscope="" itemtype="http://schema.org/NewsArticle">
    <span itemprop="headline">المخابرات الأمريكية ترصد محاولات روسية إيرانية للتدخل بالانتخابات والإضرار
      بترامب</span>
    <span itemprop="articleBody">
      <p>قال مدير الاستخبارات الوطنية الأمريكية جون راتكليف، إنَّ روسيا وإيران حصلتا على معلومات تتعلّق بسجلّات
        الناخبين في الولايات المتّحدة. لافتًا إلى أنَّ الدولتين باشرتا إجراءات تهدف للتأثير على الرأي العام الأمريكي
        في انتخابات الثالث من نوفمبر.</p>
      <p>وأضاف راتكليف، مساء أمس الأربعاء، أنَّ إيران على وجه التحديد أرسلت عبر البريد الإلكتروني إلى ناخبين في
        الولايات المتّحدة رسائل مخادعة تهدف إلى تخويف الناخبين والتحريض على اضطرابات اجتماعية والإضرار بالرئيس
        دونالد ترمب.</p>
    </span>
    <span itemprop="datePublished" content="2020-10-22T06:30:02+03:00">2020-10-22T06:30:02+03:00</span>
    <span itemprop="dateModified" content="2020-10-22T07:39:27+03:00">2020-10-22T07:39:27+03:00</span>
    <span itemprop="description"><strong>قال مدير الاستخبارات الوطنية الأمريكية جون راتكليف، إنَّ روسيا وإيران حصلتا
        على معلومات تتعلّق بسجلّات الناخبين في الولايات المتّحدة. لافتًا إلى أنَّ الدولتين ب</strong></span>
    <div itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
      <meta itemprop="height" content="720">
      <meta itemprop="width" content="1280">
      <meta itemprop="url"
        content="https://ajel.sa/uploads/material-file/5f90d92c6ebbe972e643ac18/5f90da04613b4.jpg">
      <img src="{% static 'assets/5f9073b3454a0(1).jpg' %}"
        alt="{{ post.title }}">
    </div>
    <meta itemprop="mainEntityOfPage" content="https://ajel.sa/568LBF/">
    <meta itemprop="url" content="https://ajel.sa/568LBF/">
    <link itemprop="sameAs" href="https://ajel.sa/">
    <span itemprop="author">فريق التحرير</span>
    <div itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
      <div itemprop="logo" itemscope="" itemtype="http://schema.org/ImageObject">
        <meta itemprop="url" content="https://ajel.sa/default-cover-photo/logoamp.png">
        <img src="{% static 'assets/logoamp.webp' %}" alt="صحيفة عاجل">
      </div>
      <span itemprop="name">صحيفة عاجل</span>
    </div>
  </div>
</div>

<section id="single-news">
  <div class="auto-container">
    <div class="row">

      <ol class="breadcrumb">
        <li class="breadcrumb-item "><a href="/"><span>الصفحة الرئيسية</span></a></li>
        <li class="breadcrumb-item active">
          <a href="{{ post.categories.first.get_absolute_url }}">
            <span>{{ post.categories.first.title }}</span>
          </a>
        </li>
      </ol>

      <div class="col-md-8 col-sm-12 col-xs-12">
        <div>
          <div class="news-titles">
            <h1 style="font-size: 30px;">{{ post.title }}</h1>
          </div>
          
          <div class="main-img categoryColor">
            <a href="{{ post.categories.first.get_absolute_url }}" class="{{ post.categories.first.css_icon_class }} top-image"></a>
            <img src="{{ post.thumbnailURL }}"
              alt="{{ post.title }}"
              title="{{ post.title }}"
              pinger-seen="true">
            <ul class="main-icon">
              <li>
                <span id="viewsCount">{{ post.seen_count }}</span>
                <span class="flaticon-view"></span>
              </li>

              <script src="{% static 'assets/js/accounting.min.js' %}"></script>
            </ul>
          </div>

          <div class="main-bar">
            <div class="team-photo">

              <div>
                
                {% if post.date %}
                <span class="h5">
                  {{ post.date }}
                </span>
                {% endif %}
                  
              </div>
            </div>
            <div class="tool-bar hidden-sm hidden-xs">
              <ul>
                <li class="icon-strock-popup"><a class="jfontsize-button" id="jfontsize-p2"
                    style="cursor: pointer;"><i class="icon-text-plus"></i></a></li>
                <li class="icon-strock-popup"><a class="jfontsize-button" id="jfontsize-d2"
                    style="cursor: pointer;"><i class="icon-text"></i></a></li>
                <li class="icon-strock-popup"><a class="jfontsize-button" id="jfontsize-m2"
                    style="cursor: pointer;"><i class="icon-text-minus"></i></a></li>
                
                <!-- <li class="icon-strock-popup">
                  <a href="https://ajel.sa/material/print-material/568LBF" class="btnPrint">
                    <i class="icon-print"></i>
                  </a>
                </li> -->
              </ul>
            </div>
          </div>

          <div class="p-block" id="dev-content">
            {{ post.content|safe }}
          </div>
          <div id="news-video">
          </div>
          <div class="title-bg bg-gray">
            <span class=" icon-Weather-Icons-16"></span>
            <span class="flaticon-hashtag"></span>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="header-title mT-5 gray">الكلمات المفتاحية</div>
              </div>
            </div>
          </div>

          
          {% if post.tags.all|length > 0 %}
          <div class="tags-news">
            <div class="tag-check">

              {% for tag in post.tags.all %}
              <a class="tag-anchor" href="{{ tag.get_absolute_url }}">
                {{ tag.title }}
              </a>
              {% endfor %}

            </div>
          </div>
          {% endif %}
            

          <div class="nav-news hidden-sm hidden-xs">
            
            {% if previous_post %}  
            <div class="news-prev">
              <a href="{{ previous_post.get_absolute_url }}">
                <div class="thumb-img"><img src="{{ previous_post.thumbnailURL }}" alt="previous" pinger-seen="true"></div>
                <i class="flaticon-right-arrow"></i>
                <div class="h4">{{ previous_post.title }}</div>
              </a>
            </div>
            {% endif %}
              
            
            {% if next_post %}
            <div class="news-next">
              <a href="{{ next_post.get_absolute_url }}">
                <div class="h4">{{ next_post.title }}</div>
                <i class="flaticon-arrows"></i>
                <div class="thumb-img">
                  <img src="{{ next_post.thumbnailURL }}" alt="next" pinger-seen="true">
                </div>
              </a>
            </div>
            {% endif %}
              
          </div>

          <section class="tags">
            <div class="title-red">
              <div class="title-bg">
                <span class="icon-Weather-Icons-16"></span>
                <span class="flaticon-pause-bars"></span>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="header-title mT-5 red">مواضيع قد تعجبك</div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="tag-check ">
          </div>
          <section class="tags">


          </section>
        </div>

      </div>

      {% include 'sidebar.html' %}
    </div>
  </div>
</section>
  
{% endblock content %}
  
