{% extends 'base.html' %}
{% load static %}


{% block content %}

<section id="about-us">
  <div class="auto-container">
    <div class="row">
      <ol class="breadcrumb">
        <li class="breadcrumb-item "><a href="https://sanews.pythonanywhere.com/"><span>الصفحة الرئيسية</span></a></li>
        <li class="breadcrumb-item active"><a href="{% url 'privacy-policy' %}"><span>سياسة الخصوصية</span></a>
        </li>
      </ol>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="title-bg ajel">
          <!-- <span class="icon-Weather-Icons-16"></span>
          <span class="flaticon-pause-bars"></span> -->
          <img class="icon-Weather-Icons-16" src="{% static '/assets/images/tab.png' %}" alt="">

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="h3 header-title mT-5 red">سياسة الخصوصية</div>
            </div>
          </div>
        </div>
        <div class="about">
          <p>التحديث الأخير في نوفمبر 2018</p>
          <p>تنصّ سياسة الخصوصيّة على ممارسات الخصوصية المعتمَدة في موقع صحيفة "السعودية نيوز" الإلكترونية sanews.pythonanywhere.com، فضلاً
            عن الرسائل الإخبارية بواسطة البريد الإلكتروني وسواها من التطبيقات المملوكة والمشغَّلة من شركة إيجاز
            للنشر الإلكتروني المالكة لصحيفة "السعودية نيوز" الإلكترونية (المشار إليها مجتمعةً بـ"الخدمات")، وأي خدمات يظهر
            عليها هذا الإشعار.</p>
          <p>ما هي المعلومات التي نجمعها عنك؟
          </p>
          <p>تندرج المعلومات التي نجمعها عندما تتفاعل مع "الخدمات" ضمن فئتَين: (1) المعلومات الشخصية التي تتضمّن
            المعلومات الشخصية التي تقدّمها عندما تقوم بالاشتراك، أو ترسل طلباً، أو تملأ استبياناً، أو تسجّل في أحد
            مواقعنا، أو تشارك في مسابقة، أو تذكر عنوانك عبر البريد الإلكتروني؛ و (2) المعلومات غير الشخصية التي يتم
            جمعها عن طريق التكنولوجيا، وتشمل تتبّع المعلومات التي يتم جمعها من قبلنا وكذلك من أطراف ثالثة.
          </p>
          <p>المعلومات الشخصية التي تزوّدنا بها أو تطلب من طرف ثالث تشاركها معنا
          </p>
          <p>معلومات التسجيل
          </p>
          <p>التسجيل في "الخدمات" قد يتطلب منك تقديم بعض المعلومات الشخصية، بما في ذلك عنوانك عبر البريد الإلكتروني
            ومعلومات ديموغرافية (العنوان، السنّ، الجنس، مدخول الأسرة، مجال العمل، والوظيفة)، من أجل التسجّيل..
          </p>
          <p>يمكن أن تقوم خصائص التسجيل في مواقع التواصل الاجتماعي بجمع عنوان بروتوكول الإنترنت الخاصّ بك، والصفحة
            التي تزورها على موقعنا، ويمكن إضافة ملف تعريف ارتباط أو ما يُسمّى الـ "كوكيز" لتمكين الخاصّية من العمل
            كما يجب. خصائص وأدوات الـ "ويدجت" الخاصّة بمواقع التواصل الاجتماعي يستضيفها طرف ثالث أو نستضيفها مباشرةً
            على موقعنا الإلكتروني.</p>
          <p>استبيانات القرّاء ولجان القرّاء وأبحاث السوق
          </p>
          <p>يجوز لنا أن نجمع معلومات شخصية منك، من خلال الاستبيانات الطوعية التي تُجرى عن طريق "الخدمات". يمكن جمع
            البيانات من خلال "الخدمات" أو عبر الهاتف أو البريد الإلكتروني. ويمكن تشارُك المعلومات التي تقدّمها، إنما
            فقط بصيغة إجمالية، مع المعلنين والشركاء، ما لم يتم إبلاغك بما هو خلاف ذلك عند جمع المعلومات.
          </p>
          <p>المعلومات التي نجمعها عبر استخدام التكنولوجيا
          </p>
          <p>نستخدم تكنولوجيات عدّة عبر الإنترنت لإدارة "الخدمات" وتتبُّع استعمالها. يجوز دمج المعلومات غير الشخصية
            التي نجمعها عبر استخدام هذه التكنولوجيات، مع معلومات أخرى عنك.
          </p>
          <p>المعلومات عن الجهاز
          </p>
          <p>يمكننا جمع معلومات غير شخصية عن الكمبيوتر أو الهاتف الجوال أو غير ذلك من الأجهزة التي تستخدمها للوصول
            إلى "الخدمات"، مثل عنوان بروتوكول الإنترنت، والمعلومات عن الموقع الجغرافي، ومعرِّفات الأجهزة الفريدة،
            ونوع المتصفّح، ولغة المتصفّح وسواها من المعلومات الإجرائية.
          </p>
          <p>الكوكيز والبيكونز والتخزين المحلّي وسواها من التكنولوجيات المماثلة
          </p>
          <p>نستخدم الـ "كوكيز" والـ "ويب بيكونز"، والتخزين المحلي، وسواها من التكنولوجيات المماثلة. تتيح لنا هذه
            التكنولوجيات إدارة الوصول إلى "الخدمات" واستعمالها، والتعرّف إليك وتأمين المزايا الشخصية، وتساعدنا على
            فهم كيفية استخدام "الخدمات". لن تتمكن من دخول بعض الأقسام في مواقعنا الإلكترونية إذا لم يكن جهاز
            الكمبيوتر الخاصّ بك يستقبل الـ"كوكيز" من قبلنا.
          </p>
          <p>يجوز لنا نقل معلومات استخدام الموقع الإلكتروني التي لا يمكن التعرف إلى هوية أصحابها الشخصية، إلى أطراف
            ثالثة من أجل عرض إعلانات عليك لدى زيارتك مواقع أخرى.
          </p>
          <p>تحليل البيانات وملفّات التسجيل وسجلّ القراءة
          </p>
          <p>نعمد، كما هو الحال في معظم المواقع الإلكترونية، إلى جمع بعض المعلومات تلقائياً، وتخزينها في ملفات
            التسجيل. قد تشتمل هذه المعلومات على عناوين بروتوكول الإنترنت (المنطقة أو الموقع الجغرافي العام حيث تقوم
            بدخول الإنترنت عن طريق جهاز الكمبيوتر أو أيّ جهاز آخر خاص بك)، ونوع المتصفّح، ومنظومة التشغيل، وسواها من
            معلومات الاستخدام عن استعمال "الخدمات"، بما في ذلك سجلّ الصفحات التي تقوم بالاطلاع عليها.
          </p>
          <p>يجوز أن ندمج هذه المعلومات التي تم جمعها تلقائياً مع معلومات أخرى نجمعها عنك. والهدف من ذلك هو تحسين
            الخدمات التي نقدّمها لك، بما في ذلك التوصيات المشخصَنة، والإعلانات، وعرض العملة، لتحسين التسويق وتتبُّع
            الوصول إلى "الخدمات" واستعمالها من خلال الأجهزة التي تستخدمها للوصول إلى "الخدمات".
          </p>
          <p>استخدمنا أطرافاً ثالثة لتزويدنا بالمعلومات والتقارير والتحاليل عن الاستخدام وأنماط التصفّح لدى مستخدمي
            موقعنا. قد تعمد هذه الأطراف، بصورة مستقلّة، إلى تسجيل نوع الجهاز ونظام التشغيل اللذين تستخدمهما،
            ومعلومات عن الموقع الجغرافي العامّ، فضلاً عن النشاط الذي يحدث ضمن تطبيقاتنا، مثل عدد المرات التي تستخدم
            فيها هذه التطبيقات.
          </p>
          <p>معلومات عن الموقع الجغرافي
          </p>
          <p>بإمكان بعض تطبيقاتنا على الأجهزة المحمولة تقديم مضمون مستند إلى الموقع الجغرافي حيث تكون موجوداً، إذا
            اخترت تشغيل تلك الخاصّية في التطبيق. إذا شغّلت الخاصّية المستندة إلى الموقع الجغرافي، فسيتم تخزين موقعك
            الجغرافي الحالي محلياً على جهازك، على أن يستخدمه التطبيق لاحقاً. إذا اخترت حفظ بحث مستند إلى الموقع
            الجغرافي في سجلك، فسوف نخزّن تلك المعلومات على أجهزتنا الخادمة. وإذا لم تقم بتشغيل الخدمة المستندة إلى
            الموقع الجغرافي، أو إذا لم يكن التطبيق يمتلك هذه الخاصية، فلن يقوم التطبيق بنقل المعلومات عن الموقع
            الجغرافي إلينا، ولن نعمد إلى جمعها أو تخزينها.
          </p>
          <p>ليست الإعلانات في تطبيقاتنا موجَّهة إليك بطريقة استهدافية بالاستناد إلى موقعك الراهن بحسب منظومة تحديد
            المواقع، إنما يمكن توجيهها إليك بطريقة استهدافية بالاستناد إلى عنوان تسجيل الدخول الخاصّ بك أو عنوان
            بروتوكول الإنترنت الخاصّ بجهازك.
          </p>
          <p>الأطراف الثالثة
          </p>
          <p>بعض الخدمات والإعلانات المضمّنة في "الخدمات"، بما في ذلك عبر موقع صحيفة "السعودية نيوز" وفي تطبيقاتنا عبر
            الأجهزة المحمولة، تؤمّنها أو تشغّلها شركات تابعة لأطراف ثالثة، يجوز لها أن تجمع معلومات عن استعمالك لـ
            "الخدمات".
          </p>
          <p>يمكن أن تضيف هذه الشركات "كوكيز" أو "ويب بيكونز" أو سواها من التكنولوجيات، وأن تتعرّف إليها، بهدف تتبّع
            بعض المعلومات غير الشخصية عن مستخدمي موقعنا الإلكتروني. على سبيل المثال، في معرض تقديم بعض الإعلانات، قد
            يقوم معلِن بإضافة "كوكي" فريد أو التعرّف إليه على متصفّحك بغية جمع بعض المعلومات عن استعمالك لـ
            "الخدمات". وفي مثال آخر، بإمكان المعلِن أو خادِم الإعلانات أيضاً جمع معرِّف جهازك الفريد في سياق تقديم
            إعلان ما. في حالات كثيرة، يمكن استخدام هذه المعلومات لعرض إعلانات عليك على مواقع إلكترونية أخرى استناداً
            إلى اهتماماتك.
          </p>
          <p>لا نملك وصولاً إلى استخدام هذه الأطراف الثالثة لـ "الكوكيز" أو لتكنولوجيات تتبُّع أخرى أو كيفية
            استخدامها، ولا سيطرة عليها.
          </p>
          <p>ماذا نفعل بالمعلومات التي نجمعها عنك؟
          </p>
          <p>نؤمّن الخدمات التي تطلبها
          </p>
          <p>نستخدم المعلومات التي نجمعها عنك، لتمكينك من استعمال "الخدمات" وتلبية طلباتك للحصول على بعض المنتجات
            والخدمات، مثل بعث رسائل إخبارية إلكترونية وتمكينك من المشاركة في الخدمات، والاستطلاعات، والمسابقات،
            ورسائل "واتس أب"، و "البريد الإلكتروني".
          </p>
          <p>التحاليل الإحصائية
          </p>
          <p>نجري تحاليل إحصائية وديموغرافية وتسويقية عن مستخدمي "الخدمات"، لأغراض تتعلّق بتطوير المنتجات، ولإعلام
            المعلنين في شكل عام حول طبيعة قاعدة المشتركين. نستخدم هذه المعلومات لأغراض تحليلية، بما في ذلك التحاليل
            لتحسين العلاقات مع العملاء.
          </p>
          <p>تأمين تجربة المستخدم
          </p>
          <p>نستخدم المعلومات التي نجمعها من أجل الإفساح في المجال أمام توجيه الإعلانات بطريقة استهدافية إلى
            المستخدمين وفقاً لاهتماماتهم. ونستخدم أيضاً هذه المعلومات من أجل شخصَنة بعض خصائص "الخدمات" لتزويدك
            بتجربة معزّزة استناداً إلى نوع الجهاز الذي تستخدمه للوصول إلى "الخدمات"، وفي بعض الحالات، لتزويدك
            بالخدمات المطلوبة.
          </p>
          <p>الإعلانات وفقاً لاهتمامات المستخدمين
          </p>
          <p>يمكن أن نستخدم المعلومات الديموغرافية وتلك الخاصّة بتفضيلات المستخدمين كي نتيح توجيه الإعلانات المنشورة
            عبر "الخدمات" بطريقة استهدافية إلى المستخدمين وفقاً لاهتماماتهم. يعني ذلك أنّ المستخدِم سوف يقع على
            الإعلانات التي يُرجَّح أن تثير اهتمامه، وأنّ المعلِنين سيبعثون برسائلهم إلى الأشخاص ذوي الاحتمال الأكبر
            بالاستجابة لها، ما يسهم في تحسين تجربة المستخدم وفاعلية الإعلانات على السواء. لا نكشف عن معلومات إلى
            الأطراف الثالثة إلا بصيغة إجمالية أو من دون الكشف عن هويات الأشخاص.
          </p>
          <p>الرسائل الإخبارية بواسطة البريد الإلكتروني
          </p>
          <p>يمكن أن ترسل إليك صحيفة "السعودية نيوز"، بصورة دورية، رسائل إخبارية عبر البريد الإلكتروني، أو رسائل ترويجية
            إلكترونية عن الخدمات التي نقدّمها وعن المعلنين عبر موقعنا.
          </p>
          <p>الرسائل الإخبارية بواسطة واتس أب
          </p>
          <p>يمكن أن ترسل إليك صحيفة "السعودية نيوز"، بصورة دورية، رسائل إخبارية عبر "واتس أب"، أو رسائل ترويجية إلكترونية عن
            الخدمات التي نقدّمها وعن المعلنين عبر موقعنا.
          </p>
          <p>مع مَن نتشارك المعلومات التي نجمعها؟
          </p>
          <p>إذا قمت بالتسجّل لاستعمال "الخدمات"، فلن نعمد إلى بيع عنوانك عبر البريد الإلكتروني أو رقم الجوال، أو
            تأجيره أو مقايضته أو السماح لأي طرف ثالث باستخدامه من دون إذنك.
          </p>
          <p>الأطراف الثالثة
          </p>
          <p>نقوم أيضاً بتشارك معلومات عن جمهورنا بصيغة إجمالية أو من دون الكشف عن هويّة الأشخاص. لا يفرض أيّ من
            الأحكام المنصوصة في سياسة الخصوصية قيوداً، بأيّ طريقة من الطرق على قيامنا باستخدام المعلومات أو تشارُكها
            بصيغة إجمالية أو من دون الكشف عن هوية أصحابها.
          </p>
          <p>مقدّمو الخدمات
          </p>
          <p>نتعاقد مع شركات أخرى لتقديم خدمات بالنيابة عنا، بما في ذلك خدمة الإعلانات، وتوزيع رسائل البريد
            الإلكتروني، ومعالجة القوائم وتحليلها، وإدارة العروض الترويجية. نزوّد هذه الشركات فقط بالمعلومات التي
            تحتاج إليها لأداء خدماتها. يُمنَع مقدّمو الخدمات استخدام المعلومات الشخصية بأيّ طريقة من الطرق، إلا
            لأغراض تقديم الخدمات إلى صحيفة "السعودية نيوز"، ولا يجوز لهم تشارُك البيانات، أو إعادة بيعها، أو استخدامها
            لأغراضهم التسويقية المباشرة.
          </p>
          <p>ما هي سياستنا في خدمة البريد الإلكتروني؟
          </p>
          <p>لن نبعث إليك برسائل تسويقية إذا اخترت الانسحاب من هذه الخدمة. يمكنك اختيار عدم تلقّي رسائل في المستقبل
            عبر (1) اتّباع تعليمات "إلغاء الاشتراك" الواردة نحو الأسفل في كلّ رسالة إلكترونية، أو (2) اختيار
            الانسحاب هنا. لن نعمد إلى تشارُك عنوانك عبر البريد الإلكتروني أو بيعه أو تأجيره أو مقايضته أو السماح لأي
            طرف ثالث باستخدامه لأغراض تجارية من دون إذنك. في حال الاعتقاد بأنك تلقّيت رسالة منّا بالبريد الإلكتروني
            عن طريق الخطأ، يُرجى مراسلتنا على العنوان الآتي:contact@sanews.pythonanywhere.com
          </p>
          <p>الرسائل الإخبارية بواسطة البريد الإلكتروني و "واتس أب"
          </p>
          <p>تقدّم "السعودية نيوز" العديد من الرسائل الإخبارية بواسطة البريد الإلكتروني و "واتس أب". إذا لم تعد ترغب في تلقّي
            رسالة إخبارية معيّنة، يرجى اتباع تعليمات "إلغاء الاشتراك" الواردة نحو الأسفل في كل رسالة إخبارية.
          </p>
          <p>الاستبيانات عبر البريد الإلكتروني
          </p>
          <p>قد ندعوك للمشاركة في استبيانات المستخدمين، للوقوف على آرائك حول موقع صحيفة "السعودية نيوز" والمنتجات والخدمات
            القائمة أو المحتملة، فضلاً عن جمع المعلومات من أجل فهم المستخدمين بطريقة أفضل. تساعدنا استبيانات
            المستخدمين إلى حد كبير على تحسين "الخدمات"، وأي معلومات نحصل عليها عن طريق هذه الاستبيانات لن يتم
            تشاركها مع أطراف ثالثة، إلا في صيغة إجمالية.
          </p>
          <p>رسائل البريد الإلكتروني المرسَلة منك
          </p>
          <p>إذا بعثت إلينا برسالة عبر البريد الإلكتروني، فسوف نستخدم عنوانك عبر البريد الإلكتروني للإجابة مباشرة عن
            أسئلتك أو تعليقاتك.
          </p>
          <p>خاصّية "إرسال المقال بالبريد الإلكتروني"
          </p>
          <p>العناوين الإلكترونية التي تستخدمها في خاصّية التشارك بواسطة البريد الإلكتروني يمكن حفظها لتسهيل الأمور
            عليك لاحقاً عند الرغبة في تشارُك مقالات أخرى بواسطة البريد الإلكتروني؛ إنما لا تُستخدَم لأيّ غرض آخر،
            ولن يتم تشاركها مع أيّ أطراف ثالثة.
          </p>
          <p>كيف أختار الانسحاب؟
          </p>
          <p>إذا قررت، في أيّ وقت من الأوقات، عدم تلقّي معلومات تسويقية منا عبر البريد الإلكتروني، يرجى اتباع خيارات
            إلغاء الاشتراك الواردة في أسفل كلّ رسالة بالبريد الإلكتروني.
          </p>
          <p>إذا واجهت صعوبة في عملية إلغاء الاشتراك، فلا تتردد في مراسلتنا عبر العنوان الآتي: contact@sanews.pythonanywhere.com وذكر
            عنوانك عبر البريد الإلكتروني.
          </p>
          <p>هل معلوماتي محميّة؟
          </p>
          <p>من أجل منع الوصول غير المسموح به، والحفاظ على دقّة البيانات، وضمان الاستخدام الملائم للمعلومات، أنشأنا
            ضوابط مادّية وتقنية وإدارية معقولة تجارياً لحماية المعلومات. يرجى أخذ العلم بأنه ما من وسيلة آمنة مئة في
            المئة للنقل عبر الإنترنت أو التخزين الإلكتروني.
          </p>
          <p>تعديل سياسة الخصوصيّة
          </p>
          <p>يمكن تعديل سياسة الخصوصيّة من حين لآخر. حال إجراء تعديلات، سوف يتم نشرها على هذه الصفحة. إذا أجرينا
            تغييراً هامّاً أو مادّياً في طريقة استخدامنا لمعلوماتك الشخصية، فسوف يُنشَر التغيير على هذه الصفحة قبل
            ثلاثين (30) يوماً من سريان مفعوله، وسوف يتم إبلاغ المستخدمين المسجّلين بواسطة البريد الإلكتروني.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}