{% load static %}


<aside aria-label="القائمة الجانبية الثانوية"
  class="side-aside normal-side dark-skin dark-widgetized-area slide-sidebar-desktop appear-from-left"
  style="visibility: hidden;">
  <div class="side-aside-wrapper has-custom-scroll" data-height="100%">
    <a class="close-side-aside remove big-btn light-btn" href="#">
      <span class="screen-reader-text">إغلاق</span>
    </a>
    <div id="mobile-container">
      <div id="mobile-search">
        <form action="https://sawahmedia.com/" class="search-form" method="get" role="search">
          <label>
            <span class="screen-reader-text">البحث عن:</span>
            <input class="search-field" name="s" placeholder="بحث …" type="search" value="" />
          </label>
          <input class="search-submit" type="submit" value="بحث" />
        </form>
      </div>
      <div class="hide-menu-icons" id="mobile-menu">
      </div>
      <div class="social-icons-widget solid-social-icons" id="mobile-social-icons">
        <ul>
          <li class="social-icons-item"><a class="social-link facebook-social-icon"
              href="{{ social.facebook }}" rel="external noopener nofollow" target="_blank"><span
                class="tie-social-icon tie-icon-facebook"></span><span class="screen-reader-text">فيسبوك</span></a>
          </li>
          <li class="social-icons-item"><a class="social-link twitter-social-icon" href="{{ social.twitter }}"
              rel="external noopener nofollow" target="_blank"><span
                class="tie-social-icon tie-icon-twitter"></span><span class="screen-reader-text">تويتر</span></a>
          </li>
          <li class="social-icons-item"><a class="social-link pinterest-social-icon"
              href="{{ social.pinterest }}" rel="external noopener nofollow" target="_blank"><span
                class="tie-social-icon tie-icon-pinterest"></span><span class="screen-reader-text">بينتيريست</span></a>
          </li>
          <li class="social-icons-item"><a class="social-link youtube-social-icon"
              href="{{ social.youtube }}" rel="external noopener nofollow"
              target="_blank"><span class="tie-social-icon tie-icon-youtube"></span><span
                class="screen-reader-text">يوتيوب</span></a></li>
          <li class="social-icons-item"><a class="social-link instagram-social-icon"
              href="{{ social.instagram }}" rel="external noopener nofollow" target="_blank"><span
                class="tie-social-icon tie-icon-instagram"></span><span class="screen-reader-text">انستقرام</span></a>
          </li>
          <li class="social-icons-item"><a class="social-link paypal-social-icon"
              href="{{ social.paypal }}" rel="external noopener nofollow" target="_blank"><span
                class="tie-social-icon tie-icon-paypal"></span><span class="screen-reader-text">‏Paypal</span></a></li>
        </ul>
      </div>
    </div>
    <div id="slide-sidebar-widgets">
      <div class="container-wrapper widget posts-list" id="posts-list-widget-4">
        <div class="widget-title the-global-title">
          <div class="the-subtitle">اشهر المقالات<span class="widget-title-icon tie-icon"></span></div>
        </div>
        <div class="widget-posts-list-container posts-list-big-first has-first-big-post">
          <ul class="posts-list-items widget-posts-wrapper">

            <li class="widget-single-post-item widget-post-list">
              <div class="post-widget-thumbnail">
                <a aria-label="{{ popular_posts.first.title }}" class="post-thumb"
                  href="{{ popular_posts.first.get_absolute_url }}"><span
                    class="post-cat-wrap"><span class="post-cat tie-cat-48">{{ popular_posts.first.get_category.title }}</span></span><img alt="{{ popular_posts.first.title }}"
                    class="attachment-jannah-image-large size-jannah-image-large" height="220" loading="lazy"
                    src="{{ popular_posts.first.thumbnailURL }}" width="390" /></a> </div>
              <div class="post-widget-body">
                <h3 class="post-title"><a
                    href="{{ popular_posts.first.get_absolute_url }}">{{ popular_posts.first.title }}</a></h3>
                <div class="post-meta">
                  <span class="date meta-item tie-icon">{{ popular_posts.first.date }}</span> </div>
              </div>
            </li>

            {% for post in popular_posts|slice:"1:" %}
            <li class="widget-single-post-item widget-post-list tie-standard">
              <div class="post-widget-thumbnail">
                <a aria-label="{{ post.title }}"
                  class="post-thumb"
                  href="{{ post.get_absolute_url }}"><img
                    alt="{{ post.title }}"
                    class="attachment-jannah-image-small size-jannah-image-small tie-small-image wp-post-image"
                    height="150" loading="lazy" src="{{ post.thumbnailURL }}" width="220" /></a>
              </div>
              <div class="post-widget-body">
                <h3 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                <div class="post-meta">
                  <span class="date meta-item tie-icon">{{ post.date }}</span> </div>
              </div>
            </li>
            {% endfor %}

          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</aside>