body {
  text-align: right;
}

/* index.html */
.hero {
  text-align: right;
}

.avatar {
  margin-right: initial;
  margin-left: 10px;
}

.post .date::after {
  content: "";
}

section.newsletter .submit {
  left: 0;
  right: initial;
}

.navbar .search-btn {
  margin-left: initial;
  margin-right: 20px;
  padding-left: initial;
  padding-right: 20px;
  border-left: initial;
  border-right: 1px solid #ddd;
}

.widget.search .submit {
  right: initial;
  left: 0;
}

.widget.latest-posts .image {
  margin-right: initial;
  margin-left: 20px;
}

.blog-post .icon.prev {
  margin-right: initial;
  margin-left: 20px;
}

.blog-post .icon.next {
  margin-left: initial;
  margin-right: 20px;
}

.navbar .search-area-inner .submit {
  right: initial;
  left: 20px;
}

.navbar .search-area-inner .close-btn {
  right: initial;
  left: 30px;
}

.post .title i,
.post .date i,
.post .comments i,
.post .views i {
  margin-right: initial;
  margin-left: 5px;
}
